$family-Nexa: "Nexa";
$family-BonvenoCF: "BonvenoCF";

$family-sans-serif: "Nexa", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-BonvenoCF;
$text: $apiviz-text-color;
$body-size: $apiviz-base-font-size;

$size-1: rem(40px);
$size-2: rem(28px);