$fa-font-path : "@/../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';


$family-Nexa: "Nexa";
$family-BonvenoCF: "BonvenoCF";

$family-sans-serif: "Nexa", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-BonvenoCF;
$text: $app-text-color;
$body-size: $app-base-font-size;


$size-1: rem(48px);
$size-2: rem(38px);
$size-3: rem(28px);
$size-4: rem(24px);

