$fa-font-path : "@/../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';

// ---- GOOGLE FONTS ----

// Poppins
// font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Open sans
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Manrope
// font-family: 'Manrope', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


// Define fonts for body and headers
body {
  font-family: 'Open Sans', "Nunito", "Work Sans", "Helvetica", "sans-serif"!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', "Nunito", "Helvetica", "sans-serif"!important;
}




// $family-Nexa: "Nexa";
// $family-BonvenoCF: "BonvenoCF";

// $family-sans-serif: "Nexa", sans-serif;
// $family-primary: $family-sans-serif;
// $family-secondary: $family-BonvenoCF;
$text: $app-text-color;
$body-size: $app-base-font-size;


$size-1: rem(48px);
$size-2: rem(38px);
$size-3: rem(28px);
$size-4: rem(24px);
