.banner-and-search {
  .banner {
    background-color: $light-orange;

    .banner-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: auto;
      padding-bottom: 30px;
    }

    .banner-text {
      width: 45%;
      margin-right: 20px;

      h2 {
        color: $dark-blue;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        line-height: 40px;
        font-weight: 25px;
        width: 80%;
        font-size: 16px;
      }

      .banner-img-mobile {
        display: none;
      }
    }

    img {
      width: 580px;
    }
  }
}

@media (max-width: 767px) {
  .banner-and-search {
    .banner {
      .banner-text {
        h2 {
          font-size: 27px;
        }
      }
    }
  }

}

@media (max-width: 1024px) {
  .banner-and-search .banner {
    .banner-flex {
      flex-direction: column;
      padding: 0;
      width: 100%;
      padding-bottom: 30px;
    }

    .banner-text {
      width: 90%;
      text-align: center;
      margin: 0;

      .banner-img-mobile {
        display: block;
        margin: auto;
      }

      h2 {
        margin-top: 20px;
      }

      p {
        margin: auto;
        width: 100%;
      }
    }

    .banner-img-laptop {
      display: none;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1350px) {
  .banner-and-search .banner {
    .banner-text {
      h2 {
        font-size: 30px;
      }
    }

    img {
      width: 50%;
    }
  }
}

.banner-and-search,
.partner {
  .custom-shape-divider-top-1631883689 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-top-1631883689 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
  }

  .custom-shape-divider-top-1631883689 .shape-fill {
    fill: #FFE9E4;
  }
}

.partner {
  .custom-shape-divider-top-1631883689 {
    transform: rotate(180deg);
  }
}

.partner {
  .partner-bckg {
    background-color: $light-orange;
  }

  .partner-title {
    font-size: 30px;
    font-weight: 800;
    color: $dark-blue;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 65px;
  }

  .logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 90px;
  }
}

@media (max-width: 650px) {
  .partner .logo-container {
    flex-direction: column;
    justify-content: space-between;

    .logo {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
