.banner {
  background-color: $light-orange;
  width: 100vw;

  .banner-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-text {
    width: 45%;
    text-align: justify;
    margin-right: 20px;

    h2 {
      color: $dark-blue;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      line-height: 40px;
      font-weight: 25px;
      width: 80%;
    }
  }


  img {
    width: 600px;
  }
}
