@import './app-colors.scss';
@import './app-misc.scss';
@import './app-spacing.scss';
@import './app-typography.scss';
@import './banner.scss';
@import './carousel.scss';
@import './commons.scss';
@import './commons-cis.scss';
@import './custom-bulma.scss';
@import './footer.scss';
@import './http-errors.scss';
@import './navbar.scss';
@import './rem.scss';
@import './search-bar.scss';


.company_denomination {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #536dfc;
}

.siren_number {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #636885;
}

.company_main_info {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #18097c;
}

.company_secondary_info {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #636885;
}
