.navbar-layout {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: $light-orange;


  .logo-enthic {
    margin: 0.3rem 0 0 1rem;
    width: 60px;
    // transform: scale(0.2);
  }

  #navMenu {
    .navbar-item {
      color: $purple;
      font-size: 17px;

      &:hover {
        color: #3d3a39;
      }
    }
  }
}

@media (max-width: 1023px) {
  .navbar {
    position: relative;

    .navbar-brand {
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .navbar-burger {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $purple;

        .burger-size {
          font-size: 30px;        }
      }
    }

    #navMenu {
      position: absolute;
      width: 100vw;
      top: 80px;
      right: 0;
      background-color: $light-orange;
      box-shadow: none;

      .navbar-item {
        color: $purple;
        text-align: center;
      }
    }
  }

}
